@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}


#wrap{
    width: 100%;
    height: 3000px;
    background-color: #d7dd9a;
}


#header{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

#header .logo{
    width: 100%;
    height: 130px;
    background-color: #ffffff;
}
#header .logo .pixely{
    padding: 50px;
    height: auto;

    display: flex;
    justify-content: center;
    align-content: center;
}



#header .nav{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

.nav>ul{
    text-align: center;
    padding: 20px;
}
.nav>ul>li{}
.nav>ul>li>a{
    display: block;
}







#slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#slider .img_cont{
    width: 100%;
    height: 100%;
    background-image: url("https://file.cafe24cos.com/banner-admin-live/upload/pepperandsalt11/6e080f1d-6341-43c8-cea1-10459b76f155.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll;
}

#slider .pxsimg{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#contentst{
    width: 100%;
    height: 1200px;
    background-color: #ffffff;
}

/* 첫번째줄 */

#contentst .con1{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
}

#contentst .con1 .c1{
    width: 400px;
    height: 100%;
    background-color: #9e5b5b;
    display: flex;
}

#contentst .con1 .c1 .ccc1{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}


#contentst .con1 .c1 .ccc1 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}

#contentst .con1 .c1 .ccc2 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}


#contentst .con1 .c1 .ccc3 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}

.ccc1>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}
.ccc1>ul>li{}
.ccc1>ul>li>a{}

.ccc2>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}

.ccc3>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}



/* 두번째줄 */


#contentst .con1{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
}

#contentst .con1 .c2{
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
}

#contentst .con1 .c2 .cc1{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}


#contentst .con1 .c2 .cc1 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}

#contentst .con1 .c2 .cc2 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}


#contentst .con1 .c2 .cc3 img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}





.cc1>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}

.cc2>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}

.cc3>ul{
    width: 400px;
    text-align: center;
    padding: 15px;
}



/* 세번째줄 */

#contentst .con1{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
}

#contentst .con1 .c3{
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
}

#contentst .con1 .c3 .last{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}


#contentst .con1 .c3 .last img{
    width: 400px;
    height: 350px;
    background-color: #fff;

}




.last>ul{
    width: 400px;
    text-align: center;
    height: auto;
    }




    /* 인스타 */
#footer{
    
}